<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm5 mx-auto font-weight-bold stage-font">
          <span *ngFor="let letter of wordToShow; let i = index" class="mr-4 font-weight-bold stage-font">{{ letter}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm8 mx-auto">
          <span *ngFor="let letter of letters; let i = index" class="mr-4 font-weight-bold stage-font">{{ letter}}</span>
        </div>
      </div>
    </div>
  </div>
</div>