<div class="row">
  <div class="col-md-6">

    <div [ngSwitch]="model.lifes">
      <img *ngSwitchCase="6" src="../../assets/img/forca0.png">
      <img *ngSwitchCase="5" src="../../assets/img/forca1.png">
      <img *ngSwitchCase="4" src="../../assets/img/forca2.png">
      <img *ngSwitchCase="3" src="../../assets/img/forca3.png">
      <img *ngSwitchCase="2" src="../../assets/img/forca4.png">
      <img *ngSwitchCase="1" src="../../assets/img/forca5.png">
      <img *ngSwitchCase="0" src="../../assets/img/forca6.png">
    </div>
  </div>
  <div class="col-md-6">
    <span>Player:   <span>{{model.name}}</span></span>

    <img *ngIf="model.win" width="300px"  src="../../assets/img/ganhou.png"/>
    <img *ngIf="model.lose" width="300px" src="../../assets/img/perdeu.png"/>

  </div>
</div>